<header class="header">

  <nav class="navbar">

    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="logo.png" alt="El Sabrosito">
    </a>

    <!-- Botón móvil -->
    <button class="hamburger" (click)="toggleMenu()">
      ☰
    </button>

    <!-- Menú -->
    <ul [class.active]="menuOpen">
      <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/productos" routerLinkActive="active" (click)="closeMenu()">Productos</a></li>
      <li><a routerLink="/recetas-y-nutricion" routerLinkActive="active" (click)="closeMenu()">Recetas y Nutrición</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active" (click)="closeMenu()">Contacto</a></li>
      <li><a routerLink="/quienes-somos" routerLinkActive="active" (click)="closeMenu()">Quiénes Somos</a></li>
    </ul>

  </nav>

</header>
