<section
  class="carousel"
  (mouseenter)="pausar()"
  (mouseleave)="reanudar()"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>

  <div class="carousel-container">

    <div class="carousel-track">
      <div
        *ngFor="let item of imagenes; let i = index"
        class="slide"
        [ngClass]="getClase(i)"
      >
        <img [src]="item.src" />
      </div>
    </div>

    <div class="dots">
      <span
        *ngFor="let img of imagenes; let i = index"
        [class.activo]="i === indiceActivo"
        (click)="irA(i)">
      </span>
    </div>
  </div>
</section>

<section class="franja-institucional">
  <div class="contenido">
    <h2>Frescura y Calidad en Cada Producto</h2>
    <p>
      Producción responsable, control de calidad estricto y distribución
      diaria para garantizar productos lácteos frescos y confiables.
    </p>
  </div>
</section>





<section class="destacados">
  <h2>Nuestros Productos</h2>

  <div class="grid-productos">
    <div class="card">
      <img src="productos/12.png" alt="Quesos">
      <h3>Quesos</h3>
      <p>Variedad de quesos frescos y madurados elaborados con alta calidad.</p>
    </div>

    <div class="card">
      <img src="productos/13.png" alt="Yogures">
      <h3>Yogures</h3>
      <p>Yogures naturales y saborizados con procesos controlados.</p>
    </div>

    <div class="card">
      <img src="productos/11.png" alt="Leche">
      <h3>Leche Fresca</h3>
      <p>Leche seleccionada con estrictos controles sanitarios.</p>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-contenido">
    <h2>¿Deseas distribuir nuestros productos?</h2>
    <p>Contáctanos para información comercial y cobertura.</p>
    <a href="#" class="btn-cta">Contáctanos</a>
  </div>
</section>
