<section
  class="carousel"
  (mouseenter)="pausar()"
  (mouseleave)="reanudar()"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>

  <div class="carousel-container">

    <div class="carousel-track">
      <div
        *ngFor="let item of imagenes; let i = index"
        class="slide"
        [ngClass]="getClase(i)"
      >
        <img [src]="item.src" />
      </div>
    </div>

    <div class="dots">
      <span
        *ngFor="let img of imagenes; let i = index"
        [class.activo]="i === indiceActivo"
        (click)="irA(i)">
      </span>
    </div>
  </div>
</section>

<section class="franja-institucional">
  <div class="contenido">
    <h2>Frescura y Calidad en Cada Producto</h2>
    <p>
      Producción responsable, control de calidad estricto y distribución
      diaria para garantizar productos lácteos frescos y confiables.
    </p>
  </div>
</section>

<section class="destacados">
  <h2>Nuestros Productos</h2>

  <div class="grid-productos">
    <div class="card">
      <img src="productos/gelatina.png" alt="Gelatina">
      <h3>Gelatinas</h3>
      <p>Variedad de quesos frescos y madurados elaborados con alta calidad.</p>
    </div>

    <div class="card">
      <img src="productos/yogurt.png" alt="Yogures">
      <h3>Yogures</h3>
      <p>Yogures naturales y saborizados con procesos controlados.</p>
    </div>

    <div class="card">
      <img src="productos/refrescos.png" alt="Refresco">
      <h3>Refrescos</h3>
      <p>Refrescos naturales y saborizados con procesos controlados.</p>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-contenido">
    <h2>¿Deseas distribuir nuestros productos?</h2>
    <p>Contáctanos para información comercial y cobertura.</p>
    <a href="#" class="btn-cta">Contáctanos</a>
  </div>
</section>









<a href="https://wa.me/573117000000" class="whatsapp">
  <img src="assets/whatsapp.png">
</a>





<section class="ventajas">
  <h2>¿Por qué elegirnos?</h2>

  <div class="grid-ventajas">

    <div class="ventaja">
      🥛
      <h3>Productos Frescos</h3>
      <p>Producción diaria con altos estándares.</p>
    </div>

    <div class="ventaja">
      🚚
      <h3>Distribución</h3>
      <p>Entrega rápida y cobertura regional.</p>
    </div>

    <div class="ventaja">
      ✔
      <h3>Calidad Garantizada</h3>
      <p>Procesos controlados y certificados.</p>
    </div>

  </div>
</section>

<section class="sobre">
  <div class="sobre-contenido">
    <div class="sobre-texto">
      <h2>Tradición y Calidad</h2>
      <p>
        En El Sabrosito trabajamos con procesos de producción responsables
        para ofrecer productos frescos y de alta calidad a nuestros clientes
        todos los días.
      </p>
    </div>

    <div class="sobre-img">
      <img src="assets/fabrica.jpg">
    </div>
  </div>
</section>
