.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la altura de la pantalla */
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* llena sin deformar */
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.imagen.activa {
  opacity: 1;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

.indicadores {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.indicadores span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.indicadores span.activo {
  opacity: 1;
  background: #000;
}

.contenido {
  padding: 20px;
  text-align: center;
  color: red;
}

.productos {
  display: flex;
  width: 100%;
  padding: 40px 20px;
}

.producto {
  width: 33.33%;
}

.producto img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.izquierda {
  text-align: left;
}

.centro {
  text-align: center;
}

.derecha {
  text-align: right;
  margin-right: 40px;
}
